//---------------------------------------------------------------------------------------------------------------------*
/*** menu ***/
//---------------------------------------------------------------------------------------------------------------------*

div.contain-to-grid.sticky {
  background-color: $darkcolor;
  nav#main-menu {
    background-color: $darkcolor;
    .top-bar-section li:not(.has-form) a:not(.button) {
      background-color: $darkcolor;
    }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
      //background: $first;
      background-color: $first;
      color: $lightcolor;
      &:hover {
        background: $first-dark;
      }
    }
    .top-bar-section li:not(.has-form) a:not(.button) {
      &:hover {
        background: $darkcolor-light;
      }
    }
    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
      background-color: $darkcolor;
      &:hover {
        background-color: $darkcolor-light;
      }
    }
  }
}

// gharar dadane neshaneye bazsho dar mobile dar jaye khod
@media only screen and (max-width: 600px) {
  .top-bar-section .has-dropdown > a:after {
    right: -10px;
  }
}

// tashihe chineshe menu
@media only screen and (min-width: 641px) {
  .top-bar-section ul li {
    float: right;
  }
}

// fasele dadane item menu mobile az rast
div.contain-to-grid.sticky nav#main-menu .top-bar-section li:not(.has-form) a:not(.button) {
  padding-right: 20px;
}

//---------------------------------------------------------------------------------------------------------------------*
/*** slider ***/
//---------------------------------------------------------------------------------------------------------------------*
div#slider {
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-23%, -50%);
    width: 420px;
    max-width: 420px;
    min-width: 420px;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 24px;
    color: $lightcolor;
    line-height: 45px;
    @media only screen and (min-width: 641px) {
      transform: translate(-50%, 200%);
      font-size: 30px;
    }
  }
}

.slider-bg-first {
  width: 100%;
  height: 600px;
  background-color: $first;
  padding: 0;
}

.slider-bg-secound {
  width: 100%;
  height: 600px;
  background-color: $secound;
  padding: 0;
}

.slider-bg-third {
  width: 100%;
  height: 600px;
  background-color: $third;
  padding: 0;
}

.slider-bg-fourth {
  width: 100%;
  height: 600px;
  background-color: $fourth;
  padding: 0;
}

.slider-bg-ui {
  width: 100%;
  height: 508px;
  background-color: #00BCD4;
  padding: 0;
}

// tashih jaygahe previwe
.orbit-container .orbit-prev > span {
  left: 0;
}

// tashih jaygahe bullet ha
.orbit-bullets li:last-child {
  margin-right: 6px;
}

//---------------------------------------------------------------------------------------------------------------------*
/*** talent ***/
//---------------------------------------------------------------------------------------------------------------------*
section#talent {
  blockquote {
    border-left: none;
    border-right: 5px solid $first;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
  }
}

//---------------------------------------------------------------------------------------------------------------------*
/*** target ***/
//---------------------------------------------------------------------------------------------------------------------*
div#target {
  img {
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 24px;
  }
  p.panel {
    vertical-align: middle;
    border-color: $lightcolor;
    background-color: $lightcolor;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    &:hover {
      border-radius: 5px;
      border-color: $lightcolor-darker;
      box-shadow: 0 0 20px $lightcolor-darker;
      -webkit-box-shadow: 0 0 20px $lightcolor-darker;
      -moz-box-shadow: 0 0 20px $lightcolor-darker;
    }
  }
}

//---------------------------------------------------------------------------------------------------------------------*
/*** blog ***/
//---------------------------------------------------------------------------------------------------------------------*
section#blog {
  div {
    article {
      h3 {
        margin-bottom: 15px;
      }
      p {
        img {
          margin-right: 10px;
          max-width: 200px;
        }
        a {
          color: $first;
          &:hover {
            color: $first-dark;
          }
        }
      }
    }
  }
}

//---------------------------------------------------------------------------------------------------------------------*
/*** sidebar ***/
//---------------------------------------------------------------------------------------------------------------------*
.sidebar {
  background-color: $darkcolor;
  color: $lightcolor;
  width: 100%;
  padding: 20px 10px;
  border-radius: 5px;
}

//---------------------------------------------------------------------------------------------------------------------*
/*** portfolio ***/
//---------------------------------------------------------------------------------------------------------------------*
section#portfolio-header {
  position: relative;
}

section#portfolio {
  ul {
    li {
      blockquote {
        h4 {
          font-size: 16px;
        }
      }
    }
  }
}

//tashih namayesh nadadane axe portfolio
.clearing-assembled .clearing-container .carousel > ul li {
  //float: right;
  //margin-top: -100px;
  display: none;
}

// max image size in data-clearing images
.visible-img img {
  max-height: 500px;
  max-width: 500px;
}


//---------------------------------------------------------------------------------------------------------------------*
/*** contact-us ***/
//---------------------------------------------------------------------------------------------------------------------*
section#contact-us {
  h5 {
    font-size: 27px;
  }
  form#contact-form {
    label {
      padding-top: 10px;
    }
    label.error {
      color: $secound;
    }
    textarea {
      resize: none;
    }
    button {
      margin-top: 10px;
      padding: 10px 50px;
    }
  }
  ul {
    float: right;
    clear: right;
    li {
      &:first-child {
        margin-right: -15px;
      }
      i {
        margin-right: 20px;
        margin-top: -6px;
        font-size: 25px;
        color: $first;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        &:hover {
          color: $secound;
        }
      }
    }
  }
}


//---------------------------------------------------------------------------------------------------------------------*
/*** complaint-us ***/
//---------------------------------------------------------------------------------------------------------------------*
section#complaint {
  h5 {
    font-size: 27px;
  }
  form#complaint-form {
    select {
      padding: 0 20px 0 0;
    }
    label {
      padding-top: 10px;
    }
    label.error {
      color: $secound;
    }
    textarea {
      resize: none;
    }
    button {
      margin-top: 10px;
      padding: 10px 50px;
    }
  }
  ul {
    float: right;
    clear: right;
    li {
      &:first-child {
        margin-right: -15px;
      }
      i {
        margin-right: 20px;
        margin-top: -6px;
        font-size: 25px;
        color: $first;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        &:hover {
          color: $secound;
        }
      }
    }
  }
}


//---------------------------------------------------------------------------------------------------------------------*
/*** hire ***/
//---------------------------------------------------------------------------------------------------------------------*
section#hire {
  h5 {
    font-size: 27px;
  }
  form#hire-form {
    select {
      padding: 0 20px 0 0;
    }
    label {
      padding-top: 10px;
    }
    label.error {
      color: $secound;
    }
    textarea {
      resize: none;
    }
    button {
      margin-top: 10px;
      padding: 10px 50px;
    }
  }
  ul {
    float: right;
    clear: right;
    li {
      &:first-child {
        margin-right: -15px;
      }
      i {
        margin-right: 20px;
        margin-top: -6px;
        font-size: 25px;
        color: $first;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        &:hover {
          color: $secound;
        }
      }
    }
  }
  #talent {
    max-width: 795px;
    margin-right: 37px;
  }
  #talent-error {
    max-width: 795px;
    margin-right: 37px;
  }
}

@media only screen and (max-width: 640px) {
  section#hire {
    #talent {
      max-width: 154px;
      margin-right: 26px;
    }
    #talent-error {
      max-width: 154px;
      margin-right: 26px;
    }
  }
}

//---------------------------------------------------------------------------------------------------------------------*
/*** footer ***/
//---------------------------------------------------------------------------------------------------------------------*
section#footer {
  background-color: $darkcolor-dark;
  color: $lightcolor-dark;
  border-top: 4px solid $first;
  padding: 50px 0;
  -webkit-transition: border .5s ease;
  -moz-transition: border .5s ease;
  -ms-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
  &:hover {
    border-top: 4px solid $secound;
  }
  div:nth-child(1) {
    ul {
      li:last-child {
        margin-bottom: 22px;
      }
    }
  }
  div#social-network {
    ul {
      height: 80px;
    }
  }
  h5 {
    color: $lightcolor-dark;
  }
  ul {
    li {
      margin: 1px;
      margin-top: 10px;
      a {
        color: $first;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        &:hover {
          color: $first-light;
        }
        i {
          font-size: 60px;
          -webkit-transition: .5s ease;
          -moz-transition: .5s ease;
          -ms-transition: .5s ease;
          -o-transition: .5s ease;
          transition: .5s ease;
        }
      }
      i.facebook:hover {
        color: #3b579d;
      }
      i.instagram:hover {
        color: #fb3958;
      }
      i.google:hover {
        color: #d34836;
      }
      i.tumblr:hover {
        color: #34526f;
      }
      i.linkedin:hover {
        color: #0077B5;
      }
      i.pinterest:hover {
        color: #C92228;
      }
      i.fi-arrow-left {
        font-size: 16px;
        margin-right: 20px;
      }
    }
  }
  div#newsletter {
    a {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    input {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  div#instagram-post {
    margin-bottom: 20px;
    a {
      img {
        width: 25%;
        padding: 2px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  div#footer-contact-us {
    div.row {
      li {
        i {
          margin-left: 10px;
          margin-right: 15px;
          font-size: 30px;
          margin-top: -7px;
          -webkit-transition: .5s ease;
          -moz-transition: .5s ease;
          -ms-transition: .5s ease;
          -o-transition: .5s ease;
          transition: .5s ease;
          &:hover {
            color: $first;
          }
        }
      }
    }
  }
}

//---------------------------------------------------------------------------------------------------------------------*
/*** copyright ***/
//---------------------------------------------------------------------------------------------------------------------*
section#copyright {
  background-color: $darkcolor-dark;
  height: 100px;
  padding: 40px 0;
  box-shadow: 0 0 40px $darkcolor-darker;
  transition: .5s ease;
  @media only screen and (max-width: 648px) {
    padding: 25px 0;
  }
  h6 {
    color: $lightcolor-darker;
    vertical-align: middle;
  }
}

//---------------------------------------------------------------------------------------------------------------------*
/*** columns ***/
//---------------------------------------------------------------------------------------------------------------------*
//samte rast raftane tabha va rtl shodan anha
ul#amoodi-tabs {
  float: right;
  margin-left: 10px;
}

//samte rast raftane seloolha va rtl shodan anha
.column, .columns {
  float: right;
}

//---------------------------------------------------------------------------------------------------------------------*
/*** public ***/
//---------------------------------------------------------------------------------------------------------------------*
.lightcolor {
  color: $lightcolor-light;
}

.dark-bg {
  background: $darkcolor-dark;
}

.validity {
  padding: 0;
  li:first-child {
    img {
      float: right;
    }
  }
  li:last-child {
    float: left;
  }
}

.page-title {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  background: #ee9ae5;
  background: -webkit-linear-gradient(top left, #ee9ae5, #5961f9);
  background: -moz-linear-gradient(top left, #ee9ae5, #5961f9);
  background: linear-gradient(top left, #ee9ae5, #5961f9);
  border-bottom: 4px solid $first;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  &:hover {
    border-bottom: 4px solid $secound;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bolder;
    color: $lightcolor;
    line-height: 70px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 2em;
    }
  }
}

.row-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.b-margin {
  margin-bottom: 50px;
}

// ijade fasele zire h3 dar joyride
.joyride-tip-guide h1, .joyride-tip-guide h2, .joyride-tip-guide h3, .joyride-tip-guide h4, .joyride-tip-guide h5, .joyride-tip-guide h6 {
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

//---------------------------------------------------------------------------------------------------------------------*
/*** overwrite ***/
//---------------------------------------------------------------------------------------------------------------------*
// change menu header color on mobile size
.top-bar .name {
  background-color: $darkcolor;
}

// tashihe zir menu be dalile tafavot dar zabane rtl
.top-bar-section .dropdown {
  right: 100%;
  transition: .5s ease;
}

// change button color
.button {
  background-color: $first;
  border: 1px solid $first-dark;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  &:hover {
    background-color: $first;
    -webkit-box-shadow: inset 0 0 20px $darkcolor-darker;
    -moz-box-shadow: inset 0 0 20px $darkcolor-darker;
    box-shadow: inset 0 0 20px $darkcolor-darker;
  }
  &:focus {
    background-color: $first;
  }
}

// remove has-tip border
.has-tip {
  border: none;
  &:hover {
    border: none;
  }
  &:focus {
    border: none;
  }
}

// change f-dropdown arrow
.f-dropdown.open::before {
  left: auto;
  right: 8px;
}

.f-dropdown.open::after {
  left: auto;
  right: 7px;
}

// change bttn.css colors
.bttn-pill.bttn-royal {
  background-color: $first;
  a {
    color: $lightcolor;
    font-size: 18px;
    padding: 10px 15px;
  }
}

.bttn-pill.bttn-royal {
  background-image: $first;
}

// change paginate style
ul.pagination li a, ul.pagination li button {
  color: $darkcolor;
  &:hover {
    background-color: $first;
    color: $lightcolor;
  }
  &:focus {
    background-color: $lightcolor;
  }
}

ul.pagination li.current a, ul.pagination li.current button {
  background-color: $first;
  &:hover {
    background-color: $first;
  }
  &:focus {
    background-color: $first;
  }
}

// remove inline-list margin-left
.inline-list {
  margin-left: 0;
}

[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
  background: #f093fb;
  background: -webkit-linear-gradient(bottom left,$secound-light,$first-light);
  background: -moz-linear-gradient(bottom left,$secound-light,$first-light);
  background: linear-gradient(bottom left,$secound-light,$first-light);
}
